# Imports

In [47]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

# Loading CSV

In [48]:
dataset = pd.read_csv('Results/Intersect_dataset.csv')
dataset.columns = dataset.columns.str.strip()
dataset.head()

,range,n1,average1,median1,std1,n2,average2,median2,std2,skewed_1,skewed_2,non_skewed
0,65534.0,138082,19304.207898,9964.5,21656.224203,9764,19255.718968,9477.5,21718.702149,6821,3643,31164
1,65534.0,138082,19304.207898,9964.5,21656.224203,3172,19030.790038,9721.5,21432.550738,1900,2241,17360
2,65534.0,138082,19304.207898,9964.5,21656.224203,1211,19819.103220,11760.0,21898.387371,1864,840,40732
3,65534.0,138082,19304.207898,9964.5,21656.224203,3376,19271.502073,10493.5,21614.362552,1856,679,17817
4,65534.0,138082,19304.207898,9964.5,21656.224203,3421,19514.070447,10119.0,21945.366501,1952,1017,18006

# Building Dataset

In [49]:
feature_cols = ['range', 'n1', 'n2']

In [50]:
X = dataset.loc[:, feature_cols]
X = X.values
X.shape

(39601, 3)

In [51]:
algos = ['skewed_1', 'skewed_2', 'non_skewed']
ys = []
for algo in algos:
    y = dataset.loc[:, algo]
    ys.append(y)
y.shape

(39601,)

In [52]:
cy = []
cyTimes = []
for i in range(len(ys[0])):
    minVal = float("inf")
    minName = ""
    for j, y in enumerate(ys):
        if (minVal > y[i]):
            minVal = y[i]
            minName = algos[j]
    cy.append(minName)
    cyTimes.append(minVal)
cy = np.array(cy)
cy.shape

(39601,)

In [53]:
def getBenchmarkSet():
    benchmarkSet = X.tolist()
    for index, attributes in enumerate(benchmarkSet):
        for times in ys:
            attributes.append(times[index])
        attributes.append(cyTimes[index])
        attributes.append(cy[index])
    return np.array(benchmarkSet)

In [54]:
benchmarkSet = getBenchmarkSet()
benchmarkSet.shape

(39601, 8)

In [55]:
def clfSplit():
    return train_test_split(X, cy, test_size=0.2, random_state=0)

# Calculating value of the project

In [56]:
def percentChange(new, old):
    return ((float(old)/new)-1)

In [57]:
def getAlgoTime(algoName, row):
    for index, algo in enumerate(algos):
        if(algoName == algo):
            return int(row[len(X[0]) + index])
    print('oups none of the available algos')

In [58]:
def getOldSchoolAlgo(n1, n2):
    threshold = 64
    n1 = float(n1)
    n2 = float(n2)
    if (n1 * threshold < n2):
        return 'skewed_1'
    if (n2 * threshold < n1):
        return 'skewed_2'
    return 'non_skewed'

In [59]:
def calculateValueOfML():
    X_train, X_test, y_train, y_test = train_test_split(benchmarkSet, benchmarkSet, test_size=0.3, random_state=0)
    
    clf = DecisionTreeClassifier(max_depth=50)
    clf.fit(X_train[:, 0:len(X[0])], y_train[:,-1])

    mlChosenAlgos = clf.predict(X_test[:, 0:len(X[0])])

    GoodPredictionsCount = 0
    mlTotTime = 0
    osTotTime = 0
    perfectTotTime = 0
    for i, algo in enumerate(mlChosenAlgos):
        if(algo == y_test[i,-1]):
            GoodPredictionsCount += 1
        mlTotTime += getAlgoTime(algo, y_test[i])
        n1 = y_test[i,feature_cols.index('n1')]
        n2 = y_test[i,feature_cols.index('n2')]
        osAlgo = getOldSchoolAlgo(n1 , n2)
        #print(osAlgo)
        osTotTime += getAlgoTime(osAlgo, y_test[i])
        perfectTotTime += int(y_test[i,-2])


    print("Average classification precision: %.2f" % (float(GoodPredictionsCount)/len(mlChosenAlgos)))
    print("Total ml time: %d" % mlTotTime)
    print("Total old school time: %d" % osTotTime)
    print("Machine learning is faster by : %.2f" % percentChange(mlTotTime, osTotTime))
    print("With perfect prediction : %.2f" % percentChange(perfectTotTime, osTotTime))

In [60]:
calculateValueOfML()

Average classification precision: 0.87
Total ml time: 10756058
Total old school time: 430861009
Machine learning is faster by : 39.06
With perfect prediction : 41.50